<div class="container">

    <div class="row">

        <div class="col-md-12">

            <div class="gallery-container">

                <div class="gallery-content">

                    {% if site.gallerytitle != '' %}
                    <h2 class="text-center">{{site.gallerytitle}}</h2>
                    {% endif %}

                    {% if site.gallerydescription != '' %}
                    {{site.gallerydescription}}
                    {% endif %}

                </div>

            </div>

        </div>

    </div>

</div>