<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="text-center">Dev Misra</h1>
          <h3 class="text-center">Strategy, Analytics & AI</h3>
          <p class="text-center">
            I analyze businesses, optimize operations, and develop insights at the intersection of <b>technology and strategy</b>.
          </p>
          <div class="hero-buttons text-center">
            <a href="#portfolio"><button class="btn btn-primary btn-lg">View Projects</button></a>
            <a href="mailto:{{ site.email_address }}"><button class="btn btn-default btn-lg"><i class="fa fa-envelope"></i> Contact</button></a>
          </div>
        </div>
      </div>
      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>
    </div>
  </div>
</div>
